.btn {
    // border:  solid 1px orange;
    // margin: 20px

    button {
        background-color: yellow;
        border: solid 1px #f2dc60;
        padding: 10px 30px 10px 30px;
        font-weight: 500;
        border-radius: 2px;
    }
}