.content {
    // border: solid 1px orange;
    min-width: 500px;
    display: flex;
    justify-content: center;

    &__title {
        // border: solid 1px blue;
        font-size: 25px;
        font-weight: 900;
        height: 50px;
    }

    &__wrapList {
        // border: solid 1px red;
        margin-top: 50px;
    }

    &__list {
        // margin: 10px;
    }

    &__total {
        // border: solid 1px blue;
        text-align: center;
    }
}