.list {
    border: solid 1px #cec0c0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;

    &__wrapText {
        // border: solid 1px red;
    }

    &__title {
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 10px;
    }

    &__details {
        // font-size: 14px;
    }

    &__wrapBtn {
   margin: 0px 0px 0px 100px;
    }

    &__toast {
    text-align: end;
    font-size: 12px;
    color: green;
    margin-bottom: 5px;
    }

    &__btn {

    }

    &__total {
    text-align: center;
    }

    &__form {
    //  border: solid 2px blue;
    // position: absolute;
    // top: 0px;
}

}

.investForm {
    // border: solid 1px orange;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    width: 400px;
    height: 200px;
    margin-left: -200px;
    margin-top: -100px;
    box-shadow: 0px 0px 0px 1000px rgba(0,0,0,0.8);

    &__title {
        margin: 0px 0px 10px 10px;
    }

    &__available {
        margin-left: 10px;
    }

    &__ends {
        margin: 0px 0px 60px 10px;
    }

     &__amount {
        margin: 0px 0px 10px 10px;
     }

   &__wrapForm {
    //    border: solid 1px red;
       display: flex;
    //    justify-content: space-around;

   }

   &__inputNumber {

    input {
        border: solid 1px #cec0c0;
        height: 30px;
        margin: 0px 40px 0px 10px;
    }
 }

    &__submit {
        input {
            background-color: yellow;
            border: solid 1px #f2dc60;
            padding: 10px 30px 10px 30px;
            font-weight: 500;
            border-radius: 2px;
        }
    }

}